.flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
}